html{
  width: 90%;
  margin:0 auto;
  height: 100%;
  background-color: red;
}
/* WARNING: .titulo{
  text-align: center;
}  */
header{
  margin-bottom: 10px;
}
.imglogo {
  text-align: left;
  height: 100%;
}
.socialmedia{
  text-align: right;
  display: inline-table;
  margin-top: 10%;
}
#menu{
background: black;

}

.navegador{
  text-align:justify;
  width: 100%;
}

.miimagen{
  width: 100%;
  margin-top: 25%;
}
.nav{
  background-color: orange;
  border-radius: 10px;
}

img[class^='estiloimg']{
  width: 8%;
}
.estilopropio{
  width: 100%;
  margin-top: 25%;
}

table{
  cursor: pointer;
}

p {
  text-align: justify;
}
/*******************************************************************************/
@media all and (max-width: 900px) {
.redessociales{
  width: 100%;
  text-align: center;
  margin-top: auto;
}
.col-xs-3{
  margin-top: 0%;
}
}
