html{
  width: 90%;
  margin:0 auto;
  height: 100%;
  background-color: red;
}

header{
  margin-bottom: 10px;
}
.redessociales{
  text-align: right;
  display: inline-table;
  margin-top: 10%;
}

.imaglogo{
  width: 50%;
}

.nav{
  background-color: orange;
  border-radius: 10px;
  color: Black;
}
li {
  color: red;
  text-decoration-color: red;
}

img[class^='estiloimg']{
  width: 8%;
}
.img_bandas{
  width: 100%;
  margin-top: 25%;
}

table{
  cursor: pointer;
}

p {
  text-align: justify;
}
/*******************************************************************************/
@media all and (max-width: 900px) {
.redessociales{
  width: 100%;
  text-align: center;
  margin-top: auto;
}
.col-xs-3{
  margin-top: 0%;
}
}
